In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [45]:
discharge_2_28 = pd.read_fwf('discharge-2:28.txt', delimiter='\t')

In [46]:
discharge_2_28 = discharge_2_28.iloc[123:]

In [47]:
discharge_2_28 = discharge_2_28['Vernier Format 2'].str.split('\t', expand=True)

In [48]:
discharge_2_28

         0      1      2        3
123      0  1.446  1.243   0.0006
124      1  1.461  1.258  -0.0003
125      2  1.451  1.258   0.0000
126      3  1.451  1.243   0.0000
127      4  1.451  1.258  -0.0003
...    ...    ...    ...      ...
5555  5432  1.266  1.091   0.0000
5556  5433  1.246  1.081   0.0000
5557  5434  1.275  1.086   0.0000
5558  5435  1.261  1.081  -0.0003
5559  5436  1.270  1.101   0.0000

[5437 rows x 4 columns]